absl-py
contourpy
cycler
filelock
fonttools
fsspec
grpcio
importlib_metadata
importlib_resources
Jinja2
joblib
kiwisolver
Markdown
MarkupSafe
matplotlib
mpmath
narwhals
networkx
nibabel
numpy
packaging
pandas
pillow
pip
plotly
protobuf
pyparsing
python-dateutil
pytz
scikit-learn
scipy
seaborn
setuptools
six
sympy
tensorboard
tensorboard-data-server
threadpoolctl
torch
torchvision
tqdm
triton
typing_extensions
tzdata
Werkzeug
wheel
zipp